stages:
  - test
  - build

test_job: 
  stage:  test
  image:  python:3.10-slim
  script:
    - echo "Rulare teste unitare"
    - python -m unittest discover tests -v
  only:
    - main
    - merge_requests

build_job: 
  stage: build
  image: docker:latest
  services: 
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo "Construire imagine Docker"
    - docker build -t library-manager .
    - docker run --rm library-manager --help
  only:
    - main
