stages:
  - test
  - build

test_job: 
  stage:  test
  image:  python:3.10-slim
  script:
    - echo "Rulare teste unitare"
    - python -m unittest discover tests -v
  only:
    - main
    - merge_requests

build_and_push_job: 
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - echo "Construire imagine Docker..."
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - echo "Publicare imagine in GitLab Registry..."
    - docker push $CI_REGISTRY_IMAGE:latest
  after_script:
    - docker logout $CI_REGISTRY
  only: 
    - main
