name: build & test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    
    - name: Run unit tests
      run: |
        echo "Rulare teste unitare..."
        PYTHONPATH=src python -m unittest discover -s tests -v

  build:
    name: Build and Push Docker
    runs-on: ubuntu-latest
    needs: test
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Autentificare folosind secretele
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        #Va fi creata imaginea alx17608/library-manager:latest
        tags: ${{ secrets.DOCKER_USERNAME }}/library-manager:latest

    # Verificare finală în consolă
    - name: Test Docker container
      run: docker run --rm ${{ secrets.DOCKER_USERNAME }}/library-manager:latest --help
